@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


body {
  @apply bg-base-gradient text-star;
}


.swiper-pagination-bullet {
  @apply w-2 h-2 rounded-full opacity-50 bg-highlight;
}

.swiper-pagination-bullet-active {
  @apply opacity-100 bg-accent;
}

@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollLoop {
  animation: scrollLoop 30s linear infinite;
}
